USE [StockTrade]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 9/9/2016 8:41:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stock](
	[StockTicker] [varchar](10) NOT NULL,
	[StockName] [varchar](50) NOT NULL,
	[StockCatagory] [varchar](50) NULL,
	[StockCommonShare] [int] NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[StockTicker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Stock] ([StockTicker], [StockName], [StockCatagory], [StockCommonShare]) VALUES (N'A', N'Agilent Technologies Inc', N'Health Care', 1090872)
INSERT [dbo].[Stock] ([StockTicker], [StockName], [StockCatagory], [StockCommonShare]) VALUES (N'AA', N'Alcoa Inc', N'Materials', 4281)
INSERT [dbo].[Stock] ([StockTicker], [StockName], [StockCatagory], [StockCommonShare]) VALUES (N'AAPL', N'Apple Inc.', N'Information Technology', 320193)
GO


INSERT INTO [dbo].[StockPriceByDay] ([StockTicker], [PriceDate], [OpenPrice], [HighestPrice], [LowestPrice], [ClosePrice], [TransAmount]) VALUES (N'A', N'2013-09-03', 47.040004, 47.509996, 46.620002, 46.930006, 2188700)
INSERT INTO [dbo].[StockPriceByDay] ([StockTicker], [PriceDate], [OpenPrice], [HighestPrice], [LowestPrice], [ClosePrice], [TransAmount]) VALUES (N'A', N'2013-09-04', 46.930006, 47.959996, 46.740004, 47.869997, 3525800)
INSERT INTO [dbo].[StockPriceByDay] ([StockTicker], [PriceDate], [OpenPrice], [HighestPrice], [LowestPrice], [ClosePrice], [TransAmount]) VALUES (N'A', N'2013-09-05', 47.820001, 48.089997, 47.580007, 47.680005, 1835900)
go